section#main-slider.main-slider
  .swiper.main-slider__wrapper
    .swiper-wrapper 
      .swiper-slide
        include slides/slide1
      .swiper-slide
        include slides/slide2
    //- .swiper-pagination