doctype html
html(lang="en")
    head
        include templates/head
    body
        main
            include templates/navigations
            include templates/slider
        script(src="index.bundle.js")